*{margin:0
    padding:0;
    box-sizing: border-box;
font-family: 'Segoe UI', sans-serif; 
}
 body{
    background-color: lightblue;
    color: black;
    line-height: 1.8;
    overflow-x: hidden;
 }*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

   :root {
    
   }
