* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Segoe UI', sans-serif;
 }
 
 :root {
   --dark-bg: #4f1b3b;
   --darker-bg: #cc69d5;
   --accent: #000000;
   --accent-glow: rgb(255, 0, 221);
   --text: #fcfcfc;
 }
 
 body {
   background-color: var(--dark-bg);
   color: var(--text);
   line-height: 1.5;
   overflow-x: hidden;
 }
 
 .navbar {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 2rem 4rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: rgb(96, 13, 104);
   backdrop-filter: blur(10px);
   z-index: 1000;
   border-bottom: 9px solid rgb(140, 53, 169);
 }
 
 .logo {
   font-size: 2.5rem;
   font-weight: 900;
   color: var(--accent);
   text-decoration: none;
 }
 
 .nav-links {
   display: flex;
   gap: 1.2rem;
   list-style: none;
 }
 
 .nav-links a {
   color: var(--text);
   text-decoration: none;
   font-weight: 200;
   position: relative;
   transition: all 0.3s ease;
 }
 
 .nav-links a::after {
   content: '';
   position: absolute;
   bottom: -4px;
   left: 0;
   width: 0;
   height: 3px;
   background: var(--accent);
   transition: width 0.3s ease;
 }
 
 .nav-links a:hover::after {
   width: 100%;
 }
 
 .hero {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 7.6rem 6rem 8rem;
   background-color: rgb(207, 143, 209);
   color: #000000;
   min-height: 100vh;
 }
 
 .hero-content {
   max-width: 90%;
 }
 
 .hero-img img {
   width: 300px;
   height: auto;
   border-radius: 110%;
 }
 
 .cta-button {
   display: inline-block;
   margin-top: 2rem;
   padding: 0.3rem 2.3rem;
   background-color: var(--accent);
   color: var(--text);
   text-decoration: none;
   border-radius: 1.0px;
   transition: background 0.3s ease;
 }
 
 .cta-button:hover {
   background-color: var(--accent-glow);
 }
 
 .skills {
   padding: 2rem 2rem;
   background-color: var(--darker-bg);
   text-align: center;
 }
 
 .skill-grid {
   display: flex;
   justify-content: center;
   gap: 7rem;
   flex-wrap: wrap;
   margin-top: 6rem;
 }
 
 .skill-card {
   background-color: var(--dark-bg);
   padding: 2.5rem;
   border-radius: 20px;
   width: 250px;
   box-shadow: 0 0 20px rgba(205, 7, 109, 0.863);
 }
 
 .skill-card i {
   font-size: 2rem;
   margin-bottom: 1rem;
   color: var(--accent);
 }
 
